<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>04_xmlhttp_post</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <!-- 报500(代码错误)的错误后进行跳转 -->
  <error-page>
    <error-code>500</error-code>
    <location>/500.HTML</location>
  </error-page>
  <!-- 报404的错误(找不到资源)后进行页面跳转  -->
  <error-page>
    <error-code>404</error-code>
    <location>/404.HTML</location>
  </error-page>
  <error-page>
  <!-- 出现指定的异常后进行跳转 -->
    <exception-type>java.lang.NullPointerException</exception-type>
    <location>/exception.do</location>
  </error-page>
  
</web-app>